<div>
    <h1>Carts Manager</h1>

<div>
        {{#each carts.docs}}
    
            <p>ID: <b>{{this._id }}</b></p>
            {{#each products}}
            <li>product: {{product}}</li>

            <ul>Quantity: {{quantity}}</ul>
            {{/each}}
    
        
        {{/each}}
    </div>
  <p>probando each en carts</p>
</div>