<div>
    <h1>Carts Manager</h1>
    <ul>
        {{#each cart.docs}}
        <li>
            <p><b>{{this.id }}</b></p>
            <p>Products: {{  this.products}}</p>
    
        </li>

        {{/each}}
    </ul>
</div>