<h1>Chat E-Commerce</h1>
<div class="container">
    <div>
        {{!-- aqui escribimos el mensaje  --}}
        <input type="text" name="message" id="chat-input" placeholder="Message..." />

        <button type="submit" id="btn-submit-mensaje">SEND</button>
    </div>
    <div style="padding-top: 20px;">
        <span style="margin-top: 15px; color: burlywood; font-weight: bold; font-size: x-large">Historial de mensajes</span>
        <p id="messages-panel"></p>
    </div>
</div>
<div>
    {{#each messages}}
  <p><strong>{{this.username}}:</strong> {{this.message}}</p>
    {{/each}}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>