
<h2>Login</h2>
<div class="container">
    <form method="post" action="/api/sessions/login">

    <input type="text" placeholder="correo" name="user" />
    <br/>
    <input type="password" placeholder="contraseña" name="pass" />

    <br/>

    <button type="submit">Login</button>
    </form>

</div>