<h2>Sign Up User</h2>

<div>
    <form method="post" action="/api/sessions/signup">
        <input type="text" placeholder="correo" name="user">
        <br/>
        <input type="password" placeholder="contraseña" name="pass">
        <br/>
        <button type="submit">Sign Up</button>
    </form>
</div>
