<h1>Sign Up User</h1>

<div id="container">
    <form method="post" action="/api/sessions/signup">
        <input type="text" placeholder="correo electronico" name="username" />
        <br>
        <input type="password" placeholder="contraseña" name="pass" />
        <br>
        <button type="submit">Sign Up</button>
    </form>
</div>