<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/{{style}}.css">
    <title>DESAFIO CODERHOUSE</title>
</head>
<body>
        <div style="margin: 20px; padding: 10px;">
       
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/products">Products List </a>
    </div>
    {{{body}}}
</body>
</html>